.letter-dir {
	background: url("../img/bg/letter-director-bg.jpg") 0 0 no-repeat;
}

.left-column,
.right-column {
    display: inline-block;
	width: 32%;
}

.left-column {
    & input {
        width: 100%;
        font-family:'HelveticaNeueCyr';
        height: 50px;
        line-height: 50px;
        padding-left: 30px;
        font-size: 16px;
        color: #353535;
        margin: 0 25px 25px 0;
        border-radius:3px;
        border: none;
    }
    & textarea {
        width: 100%;
        height: 220px;
        font-family:'HelveticaNeueCyr';
        font-size: 16px;
        color: #353535;
        margin: 0 25px 25px 0;
        border-radius:3px;
        border: none;
        resize: none;
    }
} 

.text-input {
	
}